<div class="min-h-screen flex relative lg:static surface-ground">
  <div id="app-sidebar-9"
    class="h-full lg:h-auto surface-section hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border w-18rem lg:w-7rem select-none">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-center flex-shrink-0" style="height:60px">
        <img src="assets/images/blocks/logos/hyper-cyan.svg" alt="Image" height="30">
      </div>
      <div class="mt-3">
        <ul class="list-none p-0 m-0">
          <li>
            <a pRipple routerLink="/dashboard"
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-cyan-600 border-left-2 border-cyan-600 hover:border-300 transition-duration-150 transition-colors">
              <i class="pi pi-home mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Home</span>
            </a>
          </li>
          <!-- <li>
            <a pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors">
              <i class="pi pi-search mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Search</span>
            </a>
          </li> -->

          <li class="relative">
            <a pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
              pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
              <!-- <i class="pi pi-chart-line mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl" pBadge="3"
                severity="danger"></i> -->
              <i class="pi pi-chart-line mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Reports</span>
              <i class="pi pi-chevron-down ml-auto lg:hidden"></i>
            </a>
            <ul
              class="list-none pl-3 pr-0 py-0 lg:p-3 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out static border-round-right lg:absolute left-100 top-0 z-1 surface-overlay shadow-none lg:shadow-2 w-full lg:w-15rem">
              <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors"
                  pStyleClass="@next" toggleClass="hidden">
                  <i class="pi pi-ellipsis-v mr-2"></i>
                  <span class="font-medium">Information</span>
                  <i class="pi pi-chevron-down ml-auto"></i>
                </a>
                <ul
                  class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                  <li>
                    <a pRipple routerLink="/dashboard"
                      class="flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors">
                      <i class="pi pi-table mr-2"></i>
                      <span class="font-medium">Dashboards</span>
                    </a>
                  </li>
                  <li>
                    <a pRipple routerLink="/issues"
                      class="flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors">
                      <i class="pi pi-book mr-2"></i>
                      <span class="font-medium">Issues</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors">
                  <i class="pi pi-chart-line mr-2"></i>
                  <span class="font-medium">Expenses</span>
                </a>
              </li> -->
            </ul>
          </li>
          <!-- <li>
            <a pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors">
              <i class="pi pi-calendar mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Events</span>
            </a>
          </li> -->
          <li>
            <a pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors">
              <i class="pi pi-users mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Team</span>
            </a>
          </li>
          <li>
            <a pRipple
              class="flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors">
              <i class="pi pi-cog mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i>
              <span class="font-medium inline text-base lg:text-xs lg:block">Options</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <a pRipple
          class="m-3 flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center hover:surface-200 border-round text-600 transition-duration-150 transition-colors">
          <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-2 lg:mr-0"
            style="width: 32px; height: 32px" />
          <span class="font-medium inline lg:hidden">Amy Elsner</span>
        </a>
      </div>
    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">

    <div
      class="flex justify-content-between align-items-center px-5 surface-section relative lg:static border-bottom-1 surface-border"
      style="height:60px">
      <div class="flex">
        <a pRipple class="cursor-pointer block lg:hidden text-700 mr-3" pStyleClass="#app-sidebar-9" enterClass="hidden"
          enterActiveClass="fadeinleft" leaveToClass="hidden" leaveActiveClass="fadeoutleft"
          [hideOnOutsideClick]="true">
          <i class="pi pi-bars text-4xl"></i>
        </a>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText class="border-none w-10rem sm:w-20rem ml-5" placeholder="Search issue or dashboard">
        </span>
      </div>
      <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
        enterActiveClass="fadein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
        <i class="pi pi-ellipsis-v text-2xl"></i>
      </a>
      <ul
        class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row
                surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
        <li>
          <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
            <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
            <span class="block lg:hidden font-medium">Inbox</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
            <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0" pBadge severity="danger"></i>
            <span class="block lg:hidden font-medium">Notifications</span>
          </a>
        </li>
        <li class="border-top-1 surface-border lg:border-top-none">
          <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
            <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-3 lg:mr-0"
              style="width: 32px; height: 32px" />
            <div class="block lg:hidden">
              <div class="text-900 font-medium">Amy Elsner</div>
              <span class="text-600 font-medium text-sm">Marketing Specialist</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
   <div class="p-5 flex flex-column flex-auto">
      <div class="grid">
        <div class="col-12">
          <div class="surface-card shadow-2 border-round p-4">
            <ng-container [ngTemplateOutlet]="this.template"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
