<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
         <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
           <img src="assets/images/blocks/logos/hyper.svg" alt="Image">
         </div>
        <div class="col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold line-height-3 mb-3">Menu</div>
            <span class="line-height-3 block cursor-pointer mb-2" routerLink="/">Home</span>
            <a class="line-height-3 block cursor-pointer mb-2">About us</a>
             <a class="line-height-3 block cursor-pointer mb-2">Register</a>
             <span class="line-height-3 block cursor-pointer mb-2" routerLink="/login">Login</span>
        </div>
        <div class="col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold line-height-3 mb-3">Resourses</div>
            <span class="line-height-3 block cursor-pointer mb-2" routerLink="dashboard">Dashboard</span>
            <a class="line-height-3 block cursor-pointer mb-2">Reports</a>
            <a class="line-height-3 block cursor-pointer mb-2">Search ticket</a>
            <a class="line-height-3 block cursor-pointer mb-2">Team</a>
        </div>
         <!-- <div class="col-12 md:col-3 text-gray-200">
           <div class="text-white font-bold line-height-3 mb-3">Resourses</div>
           <a class="line-height-3 block cursor-pointer mb-2">Dashboard</a>
           <a class="line-height-3 block cursor-pointer mb-2">Reports</a>
           <a class="line-height-3 block cursor-pointer mb-2">Search ticket</a>
         </div> -->
    </div>
</div>
