/* You can add global styles to this file, and also import other style files */
:root {
        box-sizing: border-box;
        margin:0;
        padding:0;
        font-size:1rem;
        height:100%;
}
*,
    ::before,
    ::after {
        box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
}


@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeflex/primeflex.scss";
@import "~primeicons/primeicons.css";
@import "assets/css/app/layout.scss";